<%= form_for(@issuetype) do |f| %>
  <% if @issuetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issuetype.errors.count, "error") %> prohibited this issuetype from being saved:</h2>

      <ul>
      <% @issuetype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
