<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue_status.name %>
</p>

<%= link_to 'Edit', edit_issues_tatus_path(@issuestatus) %> |
<%= link_to 'Back', issue_statuses_path %>
